@{
    ViewData["Title"] = "Fan Sites";
}
<!--TODO: Write text.-->
<a asp-area="" asp-controller="Sources" asp-action="Index">Back to Sources</a>
<article class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Other websites about Foster The People.</p>
</article>