@{
    ViewData["Title"] = "Fan Sites";
}
<!--TODO: Write text.-->
<a asp-area="" asp-controller="Sources" asp-action="Index">Back to Sources</a>
<article class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Other websites about Foster The People.</p>
</article>
<blockquote class="reddit-embed-bq" style="height:316px" data-embed-height="498"><a href="https://www.reddit.com/r/FosterThePeople/comments/1d4xumu/were_foster_the_people_our_new_single_lost_in/">We're Foster the People. Our new single "Lost In Space" is out now! As us anything!</a><br> by<a href="https://www.reddit.com/user/FosterThePeopleMusic/">u/FosterThePeopleMusic</a> in<a href="https://www.reddit.com/r/FosterThePeople/">FosterThePeople</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>