@{
    ViewData["Title"] = "Sources";
}
<!--TODO: Write text.-->
<br />
<article class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>News and media about Foster The People.</p>
</article>
<article>
    <ul>
        <li>
            <a asp-area="" asp-controller="Sources" asp-action="FanSites">Fan Sites</a>
        </li>
        <li>
            <a asp-area ="" asp-controller="Sources" asp-action="News">News</a>
        </li>
    </ul>
</article>
