@{
    ViewData["Title"] = "News";
}
<!--TODO: Write text.-->
<a asp-area="" asp-controller="Sources" asp-action="Index">Back to Sources</a>
<article class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Updates about Foster The People.</p>
</article>
<iframe class="container-fluid min-vh-100" src="https://www.fosterthepeople.com/tour/" title="Foster The People Tour"></iframe>