@{
    ViewData["Title"] = "Archive";
}
<br />
<article class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Music not released as official Foster The People albums or singles. </p>
</article>
<article>
    <ul>
        <li>
            <a target="_blank" href="https://www.youtube.com/watch?v=I3FinPrzZFo&list=PLOlZcUPK_a1z1EDvxxCgdn6WpQ7dsOiHA">Mark Foster solo projects</a>
        </li>
    </ul>
</article>