@{
    ViewData["Title"] = "Home Page";
}
<!--Backup image links: https://arc-anglerfish-arc2-prod-sltrib.s3.amazonaws.com/public/CXLNCPYWBZEYDPDJNQ2I7GUK7Y.jpg https://images.axios.com/hleZ8mxoE0ptbf75zD4M7dkd9gw=/0x294:5303x3277/1920x1080/2019/12/05/1575567575890.jpg?w=1920-->
<div class="text-center">
    <h1 class="display-4 fw-bold text-uppercase fst-italic" style="font-family: Georgia, serif;">Foster <span class="display-5 fw-bold fst-normal" style="font-family: Impact, sans-serif, Arial;">The</span> People</h1>
    <h1 class="display-5 fw-light text-capitalize">Fan Site</h1>
    <p>A website about the musician and lead singer Mark Foster.</p>
</div>
<div class="container-fluid p-0 bg-dark position-relative linkOverlay bg-primary-subtle"><!--Coding these images with hoverable text has broken me as a person.-->
    <a class="stretched-link" asp-area="" asp-controller="Home" asp-action="History"></a>
    <div class="overlay">
        <img class="img-fluid m-0 w-100" src="~/images/CXLNCPYWBZEYDPDJNQ2I7GUK7Y.jpg" />
    </div>
    <div class="position-absolute top-50 start-50 translate-middle textOverlay">
        <h1 class="text-center text-white">History</h1>
        <p class="text-center text-white">A history of Mark Foster and the other members of his band.</p>
    </div>
</div>
<div class="container-fluid p-0 bg-dark position-relative linkOverlay bg-primary-subtle">
    <a class="stretched-link" asp-area="" asp-controller="Home" asp-action="Stories"></a>
    <div class="overlay">
        <img class="img-fluid m-0 w-100" src="~/images/1575567575890.jpg" />
    </div>
    <div class="position-absolute top-50 start-50 translate-middle textOverlay">
        <h1 class="text-center text-white">Stories</h1>
        <p class="text-center text-white">Stories from fans about their favorite moments with the band.</p>
    </div>
</div>